.trackButtonPanel {
    background-color: lightblue;
    display: flex;
    
}

.trackArea {
    width: 100%;
    float: left;
}

.loop {
    background-color: pink;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    height: 48px;
    overflow: hidden;
    position: relative;
}


