.main {
  width: 100%;
}

.one,
.two,
.three,
.four,
.five,
.six {
  display: flex;
  width: 80%;
  float: left;
}

.numOne,
.numTwo,
.numThree,
.numFour {
  display: flex;
  
}

.displayGrid {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 80%;
}

.numGrid {
  display: flex;
  width: 20%;
  flex-wrap: wrap;
}

