.playlist-Panel {
  height: 500px;
  width: 100%;
  position: relative;
}

.progressWidth {
  background-color: green;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.progressLine {
  left: 0;
  background: red;
  z-index: 4;
  height: 100%;
  position: absolute;
  top: 0;
  width: 2px;
}
